game {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: #222;
    background-size: cover;
    
}

game header {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    height: 150px;
    font-size: 14px;
    background: rgba(25,25,25,.68);
}

game header .time {
    font-weight: bold;
}

game header .actions {
    position: absolute;
    right: 6rem;
    top: 3rem;
}

game header .dropdown-trigger {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: normal;
    padding: 6px 8px;
    height: auto;
}
game header .dropdown .dropdown-menu {
    min-width: 8rem;
}

game header .dropdown .dropdown-trigger:after {
    content: '';
    margin: 0;
}

game header .dropdown {
    text-align: left;
}

game h1 {
    padding-top: 1rem;
    text-align: center;
}

game .tabs {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 21px;
}

game .tabs li {
    list-style-type: none;
    display: inline-block;
    width: 90px;
    margin: 0 12px;
    text-align: center;
}

game .tabs li a:hover {
    text-decoration: none;
}

game .tabs li.active a {
    color: #fff;
}

game .tabs li.active:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 8px 7.5px;
    border-color: transparent transparent rgba(25,25,25,.95) transparent;
    content: '';
    display: block;
    left: 50%;
    margin-left: -5px;
    top: 4px;
    position: relative;
}

tab-content {
    display: block;
    background: rgba(25,25,25,.95)
}

game.corrupt {
    text-align: center;
    font-size: 13px;
}

game.corrupt svg {
    width: 12rem;
    height: 12rem;
    fill: #fff;
    margin-top: 3rem;
}

game.corrupt h1 {
    text-align: center;
    margin-bottom: 2rem;
}

game.corrupt .reasons {
    width: 465px;
    text-align: left;
    margin: 2rem auto;
}

player-name {
    display:inline-block;
}

player-name.red {
    color: #E60E0E
}

player-name.blue {
    color: #0075c4;
}
