recording-indicator {
    display: block;
}

recording-dot {
    border-radius: 100%;
    background: #ea2f2c;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    animation: blink-animation 3s steps(3, start) infinite;
}

is-recording {
    text-transform: uppercase;
}

stopped-recording svg {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    fill: #888;
    vertical-align: middle;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
