status-bar {
    font-size: 12px;
    padding: 4px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #aaa;
    z-index: 5;
}

status-bar svg {
    width: 16px;
    height: 16px;
    fill: #aaa;
    vertical-align: middle
}

status-bar .discord {
    margin-right: 5px;
}

status-bar a {
    color: #aaa;
}

status-bar a:hover {
    text-decoration: none;
    color: #aaa;
}