replay-upload {
    position: absolute;
    font-size: 10px;
    top: 4rem;
    left: 4rem;
    font-family: sans-serif;
    border: 1px solid rgba(221,221,221,.8);
    background: transparent;
    color: rgba(221,221,221,.8);
    border-radius: .3rem;
    padding: .1rem .3rem;
}

.spinner {
    width: 1rem;
    text-align: center;
    display: inline-block;
  }
  
  .spinner > div {
    width: 4px;
    height: 4px;
    background-color: rgba(221,221,221,.8);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }