sharing-credentials {
    position: fixed;
    display: block;
    width: 520px;
    top: 90px;
    z-index: 20;
    background: #fff;
    color: #333;
    padding: 1rem;
    border-radius: 1rem;
}

sharing-credentials .streamable {
    width: 200px;
    display: block;
    margin: 0 auto;
}



sharing-credentials .error {
    color: #ff0000;
}

sharing-credentials label {
    padding-top: .4rem;
}
sharing-credentials .buttons {
    padding-top: 1rem;
}
sharing-credentials .buttons button {
    margin-right: .5rem;
}

