sidebar-row {
    font-size: 14px;
    cursor: pointer;
    width: 300px;
    height: 45px;
    display: block;
}

sidebar-row.selected {
    background: #444;
    color: #eee;
}

sidebar-row.selected a {
    color: #efefef;
}

sidebar-row a {
    position: absolute;
    top: 12px;
    left: 45px;
}

sidebar-row a:hover {
    text-decoration: none;
}

sidebar-row .date {
    font-size: 12px;
    position: absolute;
    right: 4px;
    color: #ccc;
    top: 15px;
}

sidebar-row.corrupt a {
    color: #666;
}

sidebar-row.corrupt .date {
    color: #444;
}

sidebar-row.patch {
    background: #0075c4;
    color: #fff;
    font-size: 12px;
    padding: 6px;
    margin-top: 8px;
    height: 28px;
}

sidebar-row.patch .date {
    top: 13px;
    color: #fff;
}

sidebar-row.patch .summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 205px;
}

sidebar-row.patch.selected {
    background: #0099ff;
}


sidebar-row .highlight svg {
    width: 14px;
    fill: #0075c4;
    right: 63px;
    position: absolute;
    top: 18px;
}

sidebar hero-portrait {
    position: absolute;
    top: 4px;
    left: 4px;
}

hero-portrait {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: inline-block;
    background: #333;
    background-size: cover;
    vertical-align: text-bottom;
}

hero-portrait.small {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

    
.ReactVirtualized__Grid::-webkit-scrollbar-track
{
	background-color: #1f1f1f;
}

.ReactVirtualized__Grid::-webkit-scrollbar
{
	width: 12px;
	background-color: #1f1f1f;
    border-right: 1px solid #000;
}

.ReactVirtualized__Grid::-webkit-scrollbar-thumb
{
    border: 1px solid #1f1f1f;
	background-color: #666;
}
.ReactVirtualized__Grid::-webkit-scrollbar-thumb:hover
{
	background-color: #999;
}

sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 300px;
    background: #1f1f1f;
    z-index: 10;
}

sidebar-toggle {
    position: absolute;
    padding: .4rem;
    padding-bottom: 0;
    background: #555;
    cursor: pointer;
    z-index: 10;
}

sidebar-toggle svg {
    fill: #bbb;
    width: 1.6rem;
    height: 1.6rem;
}

sidebar-toggle:hover svg {
    fill: #f6f6f6;
}

sidebar close {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    background: #555;
    z-index: 10;
    right: -2.35rem;
    top: 0;
    cursor: pointer;
}

sidebar close svg {
    fill: #bbb;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: -3px;
}

sidebar close svg:hover {    
    fill: #f6f6f6;
}


sidebar search input[type=text] {
    margin: 3px;
    background: #1a1a1a;
    width: 260px;
    border: 1px solid #111;
    font-size: 13px;
    color: #aaa;
}
sidebar search input[type=text]::placeholder {
    color: transparent;
}
sidebar search input[type=text]:focus::placeholder {
    color: #666;
}

sidebar .omitted-results {
    text-align: center;
    color: #777;
    font-size: 12px;
    padding: 8px;
}

sidebar search .search svg {
    fill: #555;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    display: block;
    left: 233px;
    top: 8px;
}
sidebar search .cancel svg {
    fill: #777;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 240px;
    top: 10px;
    display: none;
}

sidebar search .search.is-searching svg {
    display: none;
}

sidebar search .cancel.is-searching svg {
    display: block;
}

sidebar search .filters svg {
    fill: #555;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    left: 270px;
    top: 8px;
}

sidebar search svg:hover {
    fill: #888;
    cursor: pointer;
}