splash-screen {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 4rem;
    text-align: center;
}

splash-screen .logo {
    width: 14rem;
    display: inline-block;
    margin-bottom: 1rem;
}

video-toolbar {
    display: block;
    width: 24rem;
    margin: 0 auto;
    text-align: left;
}

splash-screen .instructions {
    width: 500px;
    margin: 0 auto;
    background: #222;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 2rem;
}