body {
    user-select: none;
    cursor: default;
}

:focus {
    outline: none;
}

a {
    cursor: pointer;
}

fieldset h5 {
    font-size: 14px;
    font-weight: 500;
}

fieldset legend {
    font-size: 18px;
    font-weight: 300;
}

p.hint {
    font-style: italic;
    color: #eee;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer .button-link-tertiary {
    margin-left: 1rem;
}

p.hint.error {
    color: #ff0000;
}

.crash {
    text-align: center;
    margin: 250px 0;
    color: #bbb;
}

input.inline {
    display: inline-block;
}

input[type=number].inline {
    width: 3rem;
    height: 1.6rem;
    font-size: 14px;
}

backdrop {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35,35,35,.4)
}

modal {
    position: fixed;
    left: 50%;
    top: 50%;
    background: #fff;
    z-index: 12;
}


modal {   
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    color: #222;
    font-size: 13px;

}
.progress {
    height: 1rem;
    margin-bottom: 0;
}

.progress-caption {
    text-align: left;
    padding-bottom: 4px;
}