
.timeline {
    padding: 1rem;
    display: block;
    position: relative;
}

timeline {
    display: block;
    border-left: 2px solid #E4B406;
    margin-left: 40px;
}

timeline::before {
    display: block;
    content: '';
    width: 21px;
    height: 2px;
    background: #E4B406;
    margin-left: -11px;
}

timeline-marker.hash::before {
    position: absolute;
    display: block;
    content: '';
    margin-left: -16px;
    margin-top: 12px;
    width: 8px;
    height: 2px;
    background: #E4B406;
}
timeline-marker.hash {
    display: block;
    margin: 1rem;
    color: #fafafa;
}

timeline-marker.circle {
    border: 2px solid #E4B406;
    border-radius: 100%;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: -1.2rem;
    color: #fafafa;
    display: block;
    background: #111;
}

timeline-marker.circle .label {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
    margin-left: -1px;  
}

timeline-marker.circle .content {
    margin-left: 45px;
    position: absolute;
    margin-top: -28px;
}

timeline-event::before {
    position: absolute;
    display: block;
    content: '';
    margin-left: -16px;
    margin-top: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #E4B406;
}

timeline-event svg {
    fill: #fafafa;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: -3.5rem;
    margin-top: -.3rem;
    position: absolute;
}

timeline-event .fight svg {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0;
    margin-left: -3.3rem;
}

timeline-event .death svg {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0;
    margin-left: -3.3rem;
}

timeline-event {
    display: block;
    margin: 1rem;
}

timeline-event .time {
    font-weight: bold;
    color: #fafafa;
}

timeline-event .content {
    background: #333;
    padding: 1rem;
    margin-top: 4px;
}

timeline-event hero-portrait {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 3px;
    border: 1px solid #222;
}

timeline-event .anchor svg {
    width: 16px;
    height: 16px;
    fill: #333;
    cursor: pointer;
    position: static;
    margin-left: .4rem;
    margin-top: 0;
}


timeline-event .anchor svg:hover {
    fill: #aaa;
}